/* welcome-modal.component.scss */

ion-header {
    background-color: #333333;
    color: #ffffff;
  }
  
  ion-toolbar {
    --ion-color-primary: #333333;
    --ion-color-primary-contrast: #ffffff;
  }
  
  ion-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-left: 30px;
  }
  
  ion-content {
    background-color: #f2f2f2;
  }
  
  .welcome-title {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    color: #333333;
    margin-left: 20px;
  }
  